#canvas {
	cursor: none;
	border: 1px solid black;
}
#WacomPlugin {
	position: absolute;
	top: -200px;
	left: -200px;
	width: 10px;
	height: 10px;
}
#image_div {
	border: 1px solid black;
	overflow: hidden;
}
#debug {
	position: absolute;
	bottom: 0;
}
#tools {
	width: 80%;
	height: 80px;
	position: absolute;
	bottom: 0;
	right: 35px;
	padding: 5px;
}
#tools .tool {
	width: 250px;
	float: right;
    color: black;
    padding: 5px;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}
#tools .tool .caption {
	font-size: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#tools .line-tool {
	width: 100px;
}
#tools .opacity-tool {
	width: 100px;
}
#tools .spectrum-tool {
	width: 55px;
}
ul.swatches li {
	float: left;
	margin-right: 5px;
	border: 1px solid black;
	height: 40px;
	width: 15px;
	list-style: none;
	cursor: pointer;
	margin-top: -15px;
}

div.image {
	display: none;
}
div.buttons-tool button {
	margin-top: 11px;
}
#saveable_image {
	display: none;
	position: absolute;
	top: 20px;
	left: 10%;
	padding: 10px;
	background-color: black;
	border: 2px solid white;
}
#saveable_image img {
	width: 70%;

}
body {
	background-color: black;
}
.img-caption {
	color: white;
}