#canvas {
	cursor: none;
	border: 1px solid black;
}
#debug {
	position: absolute;
	bottom: 0;
}
#tools {
	width: 80%;
	height: 80px;
	position: absolute;
	bottom: 0;
	right: 50px;
	padding: 5px;
}
#tools .tool {
	width: 20%;
	float: right;
    color: black;
    padding: 5px;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}
#tools .tool .caption {
	font-size: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#tools .line-tool {
	width: 100px;
}
#tools .opacity-tool {
	width: 100px;
}
#tools .spectrum-tool {
	width: 55px;
}
ul.swatches li {
	float: left;
	margin-right: 5px;
	border: 1px solid black;
	height: 40px;
	width: 15px;
	list-style: none;
	cursor: pointer;
	margin-top: -15px;
}
ul.swatches li.sw-caption {
	width: 65px;
	margin-left: -50px;
	border: none;
	font-size; 11px;
}